<!DOCTYPE html>
<html>
<head>
    <title>{% if query %}Search results for: "{{ query }}"{% else %}Notes{% endif %}</title>
    <script>
        function filterNotes() {
            var regex_pattern = document.getElementById('regex_pattern').value;
            var notes = document.getElementsByClassName('note');

            for (var i = 0; i < notes.length; i++) {
                if (notes[i].innerText.match(new RegExp(regex_pattern, 'i'))) {
                    notes[i].style.display = '';
                } else {
                    notes[i].style.display = 'none';
                }
            }
        }
    </script>
</head>
<body>
    <h1>{% if query %}Search results for: "{{ query }}"{% else %}Notes{% endif %}</h1>

    <form action="/search-full-text" method="get">
        Fulltext Search: <input type="text" name="query" id="fulltext_search">
        <input type="submit" value="Search">
    </form>

    <br>

    Regex Filename Filter: <input type="text" id="regex_pattern" onkeyup="filterNotes()"><br><br>

    <ul>
        {% for note in notes %}
            <li class="note"><a href="{{ url_for('note', filename=note) }}">{{ note }}</a></li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('note', filename='new_note.txt') }}">
        <input type="submit" value="Create New Note">
    </form>
</body>
</html>
