<!DOCTYPE html>
<html>
<head>
    <title>Edit Note</title>
    <script>
        function viewSideBySide(similarNote) {
            fetch('/note-content/' + similarNote)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('similarContent').innerText = data;
                    document.getElementById('similarContent').style = "flex: 1; height: 100%; border:1px solid #ccc; padding: 5px; overflow: auto;";
                });
        }
    </script>
</head>
<body>
    <h1>
      Edit Note: {{ filename }}
      <a href="{{ url_for('index') }}" style="float: right;">Back</a>
    </h1>
    <form method="POST">
        <div id="textContent" style="display: flex; height: 70vh; margin-bottom: 15px;">
          <textarea name="content" style="flex: 1; height: 100%">{{ content }}</textarea>

          <div id="similarContent" style="flex: 0; height: 100%;">
              <!-- Similar note content will be displayed here -->
          </div><br>
        </div>

        <div>
          <input type="submit" name="save" value="Save">
          New Filename: <input type="text" name="new_filename" value="{{ filename }}">
          <input type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure you want to delete this note?');">
        </div>
    </form>

    {% if similar_notes %}
        <h2>Similar Notes:</h2>
        <ul>
            {% for note, similarity in similar_notes %}
                <li> ({{ similarity }})
                  <button onclick="viewSideBySide('{{ note }}')"><-></button>
                  <a href="{{ url_for('note', filename=note) }}">{{ note }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
